@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

/* css for navigator bar*/

@keyframes slideNavigatorDown {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideNavigatorUp {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-100%);
    }
}

#hoverOver {
    overflow: "hidden";
    background-color: (0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    z-index: 3;
}

#navigator {
    overflow: "hidden";
    background-color: #e9e9e9;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 50px;
}

.navUp {
    animation: slideNavigatorUp 0.5s forwards;
}

.navDown {
    animation: slideNavigatorDown 0.5s forwards;
}


#navigator a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navigator a:hover {
    background-color: #ddd;
    color: black;
}


html {
    scroll-behavior: smooth;
}

/* General Website Style rules */

body {
    font-family: "Playpen Sans", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
}

#bg {
    background-image: url("../assets/site_circles_bg.png");
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

/* css for landing screen */
#landing-screen {
    background-color: #000000;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

#image-matrix {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
    width: 100%;
    height: 100%;
}

#image-matrix img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 2;
}

#company-name {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Playpen Sans", sans-serif;
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Demo */
.demo_section {
    color: #F7F7FF;
    display: block;
    align-items: center;
    justify-content: space-between;
    background-color: #6E4276;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

#demo1 {
    border-radius: 10px;
}

/* css for home page*/

#title {
    font-family: "Playpen Sans", sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: #6E4276;
    background-color: #F6F862;
    padding: 20px;
    margin-bottom: 20px;
}

#caption {
    font-family: "Playpen Sans", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    color: #073B3A;
}

#section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6E4276;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

#bold {
    font-family: "Playpen Sans", sans-serif;
    font-weight: bold;
    color: #F7F7FF;
    margin-right: 20px;
    flex-grow: 2;
}

#image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#container {
    max-width: 1300px;
    display: block;
    margin: auto;
    height: 100vh;
}

#features-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 5em;
    grid-auto-flow: column;
}

/* css for features page*/

.features-trans1 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
}

#features-header {
    font-family: "Playpen Sans", sans-serif;
    color: #ffffff;
    font-size: 35px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#featuresPage {
    font-family: "Playpen Sans", sans-serif;
    margin: 0;
    padding: 0;
    z-index: -2;
}

.featuresPageNotHeader {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.container-small {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container-big {
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
    justify-content: center;
    grid-template-rows: auto;
}

.sharing-title {
    width: 200px;
    height: 100px;
    background-color: #6E4276;
    /* Purple */
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.tree-title {
    width: 200px;
    height: 100px;
    background-color: #F6F862;
    /* Yellow */
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.profile-title {
    width: 200px;
    height: 100px;
    background-color: #073B3A;
    /* Forest Green */
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#sharing-main-box {
    display: none;
    width: 70em;
    height: 10em;
    text-align: center;
    background-color: #6E4276;
    /* Purple */
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

#tree-main-box {
    display: none;
    width: 70em;
    height: 10em;
    text-align: center;
    background-color: #F6F862;
    /* Yellow */
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

#profile-main-box {
    display: none;
    width: 70em;
    height: 10em;
    text-align: center;
    background-color: #073B3A;
    /* Forest Green */
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

/* css for pricing page*/

.pricing-button-header {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.pricing-button-body {
    width: 25%;
    background-color: lightgray;
    border: none;
    color: black;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

#pricing-table {
    margin-left: 3em;
    margin-right: 3em;
    border-spacing: 1em;
}

.events-header {
    width: 15%;
    background-color: #F6F862;
    /* Yellow */
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.corporate-header {
    width: 15%;
    background-color: #073B3A;
    /* Forest Green */
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.data-header {
    width: 15%;
    background-color: #6E4276;
    /* Purple */
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.pricing-body {
    width: 55%;
    background-color: #F7F7FF;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* css for team page*/

.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.grid-container {
    display: grid;
    gap: 50px 0px;
    grid-template-columns: 10fr 35fr 25fr 10fr 35fr;
    padding: 0px;
    align-items: start;
}

.grid-item {
    padding: 10px;
    font-size: 20px;
    word-wrap: break-word;
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.slideInFromLeft {
    animation: slideInFromLeft 1s forwards;
}

.slideInFromRight {
    animation: slideInFromRight 1s forwards;
}

.slideInFromTop {
    animation: slideInFromTop 1s forwards;
}

.slideInFromBottom {
    animation: slideInFromBottom 1s forwards;
}


#footer {
    height: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: #e9e9e9;
}